PROJECT_NAME = "CandyCoded"
PROJECT_NUMBER = v4.1.0
OUTPUT_DIRECTORY = docs

INPUT = Assets/Plugins/CandyCoded/
FILE_PATTERNS = *.cs
EXCLUDE_PATTERNS = */Tests/*
EXCLUDE_PATTERNS += */CustomEditor/*
RECURSIVE = YES

EXTRACT_ALL = NO
EXTRACT_STATIC = YES
DISABLE_INDEX = YES
SHOW_NAMESPACES = NO
HIDE_UNDOC_MEMBERS = YES
HIDE_UNDOC_CLASSES = YES

GENERATE_LATEX = NO

ALPHABETICAL_INDEX = NO

SEARCHENGINE = NO
