<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for SonarAnalyzer" Description="Code analysis rules for SonarAnalyzer." ToolsVersion="14.0">
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S4318" Action="Warning" />
    <Rule Id="S4291" Action="Warning" />
    <Rule Id="S4355" Action="Warning" />
    <Rule Id="S4359" Action="Warning" />
    <Rule Id="S4277" Action="Warning" />
    <Rule Id="S4414" Action="Warning" />
    <Rule Id="S4431" Action="Warning" />
    <Rule Id="S4243" Action="Warning" />
    <Rule Id="S4305" Action="Warning" />
    <Rule Id="S4319" Action="Warning" />
    <Rule Id="S4315" Action="Warning" />
    <Rule Id="S4388" Action="Warning" />
    <Rule Id="S4406" Action="Warning" />
    <Rule Id="S4384" Action="Warning" />
    <Rule Id="S4295" Action="Warning" />
    <Rule Id="S4236" Action="Warning" />
    <Rule Id="S4352" Action="Warning" />
    <Rule Id="S4413" Action="Warning" />
    <Rule Id="S4327" Action="Warning" />
    <Rule Id="S4223" Action="Warning" />
    <Rule Id="S4301" Action="Warning" />
    <Rule Id="S4401" Action="Warning" />
    <Rule Id="S4328" Action="Warning" />
    <Rule Id="S4253" Action="Warning" />
    <Rule Id="S4302" Action="Warning" />
    <Rule Id="S4368" Action="Warning" />
    <Rule Id="S4258" Action="Warning" />
    <Rule Id="S4350" Action="Warning" />
    <Rule Id="S4360" Action="Warning" />
    <Rule Id="S4336" Action="Warning" />
    <Rule Id="S4229" Action="Warning" />
    <Rule Id="S4292" Action="Warning" />
    <Rule Id="S4221" Action="Warning" />
    <Rule Id="S4378" Action="Warning" />
    <Rule Id="S4432" Action="Warning" />
    <Rule Id="S4330" Action="Warning" />
    <Rule Id="S4343" Action="Warning" />
    <Rule Id="S4261" Action="Warning" />
    <Rule Id="S4418" Action="Warning" />
    <Rule Id="S4274" Action="Warning" />
    <Rule Id="S4287" Action="Warning" />
    <Rule Id="S4230" Action="Warning" />
    <Rule Id="S4351" Action="Warning" />
    <Rule Id="S4284" Action="Warning" />
    <Rule Id="S4353" Action="Warning" />
    <Rule Id="S4283" Action="Warning" />
    <Rule Id="S4275" Action="Warning" />
    <Rule Id="S4280" Action="Warning" />
    <Rule Id="S4325" Action="Warning" />
    <Rule Id="S4376" Action="Warning" />
    <Rule Id="S4225" Action="Warning" />
    <Rule Id="S4306" Action="Warning" />
    <Rule Id="S4314" Action="Warning" />
    <Rule Id="S4341" Action="Warning" />
    <Rule Id="S4265" Action="Warning" />
    <Rule Id="S4370" Action="Warning" />
    <Rule Id="S4389" Action="Warning" />
    <Rule Id="S4380" Action="Warning" />
    <Rule Id="S4254" Action="Warning" />
    <Rule Id="S4271" Action="Warning" />
    <Rule Id="S4289" Action="Warning" />
    <Rule Id="S4420" Action="Warning" />
    <Rule Id="S4273" Action="Warning" />
    <Rule Id="S4304" Action="Warning" />
    <Rule Id="S4252" Action="Warning" />
    <Rule Id="S4237" Action="Warning" />
    <Rule Id="S4285" Action="Warning" />
    <Rule Id="S4405" Action="Warning" />
    <Rule Id="S4239" Action="Warning" />
    <Rule Id="S4369" Action="Warning" />
    <Rule Id="S4347" Action="Warning" />
    <Rule Id="S4296" Action="Warning" />
    <Rule Id="S4235" Action="Warning" />
    <Rule Id="S4333" Action="Warning" />
    <Rule Id="S4363" Action="Warning" />
    <Rule Id="S4321" Action="Warning" />
    <Rule Id="S4281" Action="Warning" />
    <Rule Id="S4300" Action="Warning" />
    <Rule Id="S4375" Action="Warning" />
    <Rule Id="S4382" Action="Warning" />
    <Rule Id="S4311" Action="Warning" />
    <Rule Id="S4232" Action="Warning" />
    <Rule Id="S4407" Action="Warning" />
    <Rule Id="S4224" Action="Warning" />
    <Rule Id="S4361" Action="Warning" />
    <Rule Id="S4358" Action="Warning" />
    <Rule Id="S4279" Action="Warning" />
    <Rule Id="S4425" Action="Warning" />
    <Rule Id="S4366" Action="Warning" />
    <Rule Id="S4298" Action="Warning" />
    <Rule Id="S4340" Action="Warning" />
    <Rule Id="S4412" Action="Warning" />
    <Rule Id="S4267" Action="Warning" />
    <Rule Id="S4241" Action="Warning" />
    <Rule Id="S4374" Action="Warning" />
    <Rule Id="S4403" Action="Warning" />
    <Rule Id="S4400" Action="Warning" />
    <Rule Id="S4324" Action="Warning" />
    <Rule Id="S4255" Action="Warning" />
    <Rule Id="S4278" Action="Warning" />
    <Rule Id="S4409" Action="Warning" />
    <Rule Id="S4308" Action="Warning" />
    <Rule Id="S4320" Action="Warning" />
    <Rule Id="S4415" Action="Warning" />
    <Rule Id="S4247" Action="Warning" />
    <Rule Id="S4251" Action="Warning" />
    <Rule Id="S4231" Action="Warning" />
    <Rule Id="S4329" Action="Warning" />
    <Rule Id="S4227" Action="Warning" />
    <Rule Id="S4379" Action="Warning" />
    <Rule Id="S4269" Action="Warning" />
    <Rule Id="S4226" Action="Warning" />
    <Rule Id="S4249" Action="Warning" />
    <Rule Id="S4307" Action="Warning" />
    <Rule Id="S4288" Action="Warning" />
    <Rule Id="S4228" Action="Warning" />
    <Rule Id="S4428" Action="Warning" />
    <Rule Id="S4386" Action="Warning" />
    <Rule Id="S4362" Action="Warning" />
    <Rule Id="S4219" Action="Warning" />
    <Rule Id="S4257" Action="Warning" />
    <Rule Id="S4364" Action="Warning" />
    <Rule Id="S4331" Action="Warning" />
    <Rule Id="S4313" Action="Warning" />
    <Rule Id="S4404" Action="Warning" />
    <Rule Id="S4426" Action="Warning" />
    <Rule Id="S4421" Action="Warning" />
    <Rule Id="S4290" Action="Warning" />
    <Rule Id="S4410" Action="Warning" />
    <Rule Id="S4383" Action="Warning" />
    <Rule Id="S4419" Action="Warning" />
    <Rule Id="S4344" Action="Warning" />
    <Rule Id="S4396" Action="Warning" />
    <Rule Id="S4332" Action="Warning" />
    <Rule Id="S4246" Action="Warning" />
    <Rule Id="S4316" Action="Warning" />
    <Rule Id="S4256" Action="Warning" />
    <Rule Id="S4342" Action="Warning" />
    <Rule Id="S4417" Action="Warning" />
    <Rule Id="S4240" Action="Warning" />
    <Rule Id="S4259" Action="Warning" />
    <Rule Id="S4309" Action="Warning" />
    <Rule Id="S4381" Action="Warning" />
    <Rule Id="S4423" Action="Warning" />
    <Rule Id="S4349" Action="Warning" />
    <Rule Id="S4245" Action="Warning" />
    <Rule Id="S4402" Action="Warning" />
    <Rule Id="S4397" Action="Warning" />
    <Rule Id="S4299" Action="Warning" />
    <Rule Id="S4387" Action="Warning" />
    <Rule Id="S4354" Action="Warning" />
    <Rule Id="S4357" Action="Warning" />
    <Rule Id="S4399" Action="Warning" />
    <Rule Id="S4422" Action="Warning" />
    <Rule Id="S4391" Action="Warning" />
    <Rule Id="S4262" Action="Warning" />
    <Rule Id="S4392" Action="Warning" />
    <Rule Id="S4242" Action="Warning" />
    <Rule Id="S4266" Action="Warning" />
    <Rule Id="S4268" Action="Warning" />
    <Rule Id="S4337" Action="Warning" />
    <Rule Id="S4334" Action="Warning" />
    <Rule Id="S4398" Action="Warning" />
    <Rule Id="S4238" Action="Warning" />
    <Rule Id="S4248" Action="Warning" />
  </Rules>
</RuleSet>
