[*.cs]
resharper_collection_never_updated_local_highlighting = do_not_show
resharper_class_never_instantiated_global_highlighting = do_not_show
resharper_possible_invalid_operation_exception_highlighting = do_not_show
